*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.body{
   display:flex;
   justify-content: flex-end; 
   align-items: center;
   min-height: 100vh;
   flex-direction: column;
   background:#ede7f6;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


   
}
.cover{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.about-us{
    width:40%;
}
.about-us h2{
    position: relative;
    color: seashell;
    font-weight: 500%;
    margin-bottom: 15px;
    font-size: 25px;
}
.cover .about-us h3{
    color:teal;
    margin-bottom: 10px;
}
.about-us h2:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.about-us p{
    color: #999;
}
.kai{
    margin-top: 20px;
    display: flex;

}
.kai{
    list-style-type: none;
}
.kai a{
    display:inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.kai a:hover{
    background-color: #f00;
    
}
.kai  li a .fab{
    color: #fff;
    font-size: 20px;
}
.quick{
    position: relative;
    width:25%
}
.cover .quick h2{
    color: #fff;
  margin-bottom: 15px;
    font-weight: 500;
    font-size: 25px;
}
.quick ul li{
    list-style-type: none;
    
}
.quick ul li a{
  
    text-decoration: none;
    color: darkgray;
    display: inline-block;
    margin-bottom: 12px;
    

}
.quick li a:hover{
    color:darkgreen;
    padding-left:20px;

}
.quick{
    position: relative;
    width: 25%;
}

.contactie{
    width:calc(35%- 60px);
    margin-left: 0!important;
}
.contactie .info{
    position: relative ;
}
.contactie .info li{
      display: flex;
    margin-bottom: 17px;;
}
.copy{
    width:100% ;
    background: #181818;
    color:#999;
    padding: 8px 100px;
    text-align: center;
}
.contactie ul li{
    list-style-type: none;
}
.contactie h2{
    color:#fff;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
}
.contactie ul li p{
    color:#999;
}
.contactie .info li span:nth-child(1){
    color:#fff;
    font-size: 20px;
    margin-right: 10px;
}
.contactie .info li a{
    color: #999 ;
} 
.contactie .info li a:hover{
    color:#fff
}
@media(max-width : 551px)
{
    footer
    {
    padding:40px;
    }
    footer.cover{
       flex-direction: column; 
    }
}